node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
eas-build-*.tgz
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/
pharmadali-admin/
ai-service/
customer-mobile-app/
