# Dependencies & local caches
node_modules/
.expo/
dist/
web-build/
*.tsbuildinfo

# Android native build caches and artifacts
.gradle/
.cxx/
build/
local.properties
android/.gradle/
android/.cxx/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
*.apk
*.aab

# iOS native build artifacts
ios/build/
ios/Pods/
